main {
  width: 100%;
  height: 100%;
  background-color:var(-background-color);
  color:var(--main-text-color);
  grid-area: about;
}

.menu {
  grid-area: menu;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



/* banner make smaller */


/* .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows:; 
 
} */

/* 
.menu {
  grid-area: menu;
} */

/* .banner1 {
 grid-area: main;
}

.banner2 {
  grid-area: main;
}

.videos {
  grid-area: footer;
} */
