main {
  background-color:var(-background-color);
  color:var(--main-text-color);
  grid-area: about;
}

.menu {
  grid-area: menu;
}

.videos {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:var(--second-text-color);
  grid-area: footer;
}

.banner1 img, .banner2 img {
  width: 85vw;
}


