.menu {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  color:var(-second-text-color);
}

hr {
  width: 15%;
  color:var(--second-text-color);
}
