.menu {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  color:var(-second-text-color);
}

.menu i {
  color:var(--main-text-color);
  margin-left: 0.7rem;
  margin-right: 1rem;
}

hr {
  width: 13%;
  color:var(--second-text-color);
}
