header {
  width: 100vw;
  height: 6vh;
  color:var(--main-text-color);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: header;
}

.logo img {
  width: 5vw;
  margin-right: 2rem;
  
}

.nav-left, 
.nav-middle, 
.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 2rem;
  padding-left: 1rem;
}

header i {
  padding-left: 10px;
  padding-right: 10px;
} 

input[type=text] {
  width: 500px;
  height: 30px;
  display: block;
}

button[type=submit] {
  width:40px;
  height: 30px;
  display: block;
}

button[type=menu] {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: none;
  margin-left: 1rem;
}

.nav-right img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 2rem;
  border-radius: 100%;
}

.nav-right i {
  color:var(--main-text-color);
  margin-right: 1rem;
}



